<template>
  <div>
    <h1 class="title">SPLI</h1>
    <h1 class="title" style="margin-top: 5px">TTER</h1>

    <div class="container">
      <div class="left">
        <p class="label">Bill</p>
        <i><img src="../images/icon-dollar.svg" alt="" class="icon-img" /></i>
        <input class="input" type="text" />
        <p class="label_select_tip">Select Tip %</p>
        <div class="btn-con">
          <button class="tip-btn">5%</button>
          <button class="tip-btn">10%</button>
          <button class="tip-btn">15%</button>
          <button class="tip-btn">25%</button>
          <button class="tip-btn">50%</button>
          <button class="tip-btn">Custom</button>
        </div>
        <p class="label">Number of People</p>
        <i><img src="../images/icon-person.svg" alt="" class="icon-img" /></i>
        <input class="input" type="text" />
      </div>
      <div class="right">Right</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TipCalculator",
  props: {
    msg: String,
  },
}
</script>

<style scoped>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  margin: 5% 47% 0 47%;
  letter-spacing: 8px;
  font-size: 22px;
  font-family: "Space Mono", monospace;
  color: hsl(183, 100%, 15%);
}

.container {
  background-color: white;
  margin: 5% 20% 0% 20%;
  border-radius: 15px;
  padding: 2%;
  display: flex;
}

.right {
  margin-left: 50%;
}

.label_select_tip {
  font-family: "Space Mono", monospace;
  font-size: 8px;
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  margin-bottom: 1.5%;
  margin-top: 12%;
}

.label {
  font-family: "Space Mono", monospace;
  font-size: 8px;
  color: hsl(186, 14%, 43%);
  font-weight: bold;
  margin-bottom: 1.5%;
  margin-top: 2%;
}

.input {
  width: 100%;
  height: 10%;
  background-color: hsl(189, 41%, 97%);
  border: none;
  text-align: right;
  color: hsl(183, 100%, 15%);
  font-weight: bold;
  font-size: 8px;
  font-family: "Space Mono", monospace;
}

i {
  position: absolute;
  margin-top: 0.5%;
  margin-left: 1%;
}

.icon-img {
  width: 75%;
}

input:focus {
  outline: none;
}

.btn-con {
  margin-top: 4%;
  width: 131%;
}

.tip-btn {
  width: 15%;
  padding: 5%;
  margin-left: 5%;
}

.right {
  margin-left: 20%;
}
</style>
