<template>
  <div id="app">
    <TipCalculator />
  </div>
</template>

<script>
import TipCalculator from "./components/TipCalculator.vue"

export default {
  name: "App",
  components: {
    TipCalculator,
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: hsl(185, 41%, 84%);
}
</style>
